:root{
    font-family: 'Rubik', sans-serif;
    --color-grey: #4a4a4a;
    --color-white: #FFFFFF;
    --color-green: #3CDBC0;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: fixed;
    background-color:var(--color-white);
}
.nav{
    display: flex;
    list-style: none; 
}
.link{
    text-decoration: none;
    color: var(--color-grey);
    padding: 10px 10px 13px;
    text-transform: uppercase;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-green);
    height: 100vh;
}
.h1{
    color: var(--color-white);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    word-spacing: 100vw;
}
.logo{
    align-items: center;
    justify-content: center;
    width: 155px;
    padding-top: 10px;
}
@media screen and (min-width: 768px) {
.header{
    flex-direction: row;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}
.h1{
    font-size: 40px;
}
}
